<h1>Create New Article</h1>

<%= form_for @article do |s| %>
  <%= s.label :title %> <br/>
  <%= s.text_field :title %><br/>
  <%= s.label :description %><br/>
  <%= s.text_area :description %><br/>
  <%= s.submit %>
<% end %>